.activity-bar {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e6;
    
    p {
        flex-grow: 1;
        align-self: center;
        margin: 0;
        color: #9b9b9b;
        text-align: center;
        line-height: 1.9;
        border-left: 1px solid #e6e6e6;
        
        &:first-child {
            flex-grow: 2;
            border-left: 0;
        }
        
        a {
            border-bottom: 0;
            color: #9b9b9b;
            line-height: 1.9;
            text-decoration: none;
        }
    }
    
    .bppicon:before {
        padding-right: 5px;
    }
}