.btn {
    border-radius: 0;
    padding: 10px 20px;
    border: 1px solid #bbb;
    color: #aaa;
    min-width: 150px;
    display: inline-block;
    margin: 10px 15px 10px 0;
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
        background: #3ab4b4;
        border: 1px solid #3ab4b4;
    }
}

.btn-primary {
    border: 1px solid #3ab4b4;
    color: #fff;
    
    &:hover {
        background: #2e8d8d;
        border: 1px solid #2e8d8d;
    }
}

.btn, .btn-primary, .btn:hover, .btn-primary:hover {
    -webkit-transition: background-color 0.5s, border 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, border 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, border 0.5s, color 0.5s;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn.navigation-tip {
    line-height: normal;
    padding: 5px 1px;
    min-width: initial;
    margin-right: 10px;
    display: inline-block;
    width: 54px;
    box-sizing: border-box;
    border-bottom-width: 1px;
}

.btn-additional {
    border-style: dashed;
    width: 100%;
    
    &:hover {
        border-style: dashed;
    }
}


/* COLOUR */
.btn.white {
    border: 1px solid #fff;
    
    &:hover {
    }
}

.btn.purple {
    border: 1px solid #772583;
    
    &:hover {
    }
}