/* COLOUR PALLETTES -------------------------------------------- */

.white {
    background: #fff;
}

.purple {
    background: #772583;
}

.purple-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#772583+0,772583+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: #772583; /* Old browsers */
    background: -moz-linear-gradient(left,  #772583 0%, #772583 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #772583 0%,#772583 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #772583 0%,#772583 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#772583', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
}

.purple-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+0,fffcfc+50,fffcfc+50,772583+50,772583+100 */
    background: #fffcfc; /* Old browsers */
    background: -moz-linear-gradient(left,  #fffcfc 0%, #fffcfc 0%, #fffcfc 50%, #fffcfc 50%, #772583 50%, #772583 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#772583 50%,#772583 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#772583 50%,#772583 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#772583',GradientType=1 ); /* IE6-9 */
}

.grey-1 {
    background: #a7a9ac;
}

.grey-split-1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7a9ac+0,a7a9ac+50,a7a9ac+50,fffcfc+50,fffcfc+100 */
    background: #a7a9ac; /* Old browsers */
    background: -moz-linear-gradient(left,  #a7a9ac 0%, #a7a9ac 50%, #a7a9ac 50%, #fffcfc 50%, #fffcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #a7a9ac 0%,#a7a9ac 50%,#a7a9ac 50%,#fffcfc 50%,#fffcfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #a7a9ac 0%,#a7a9ac 50%,#a7a9ac 50%,#fffcfc 50%,#fffcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a9ac', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
}

.grey-1-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+50,a7a9ac+50,a7a9ac+50,a7a9ac+100 */
    background: #fffcfc; /* Old browsers */
    background: -moz-linear-gradient(left,  #fffcfc 0%, #fffcfc 50%, #a7a9ac 50%, #a7a9ac 50%, #a7a9ac 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fffcfc 0%,#fffcfc 50%,#a7a9ac 50%,#a7a9ac 50%,#a7a9ac 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fffcfc 0%,#fffcfc 50%,#a7a9ac 50%,#a7a9ac 50%,#a7a9ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#a7a9ac',GradientType=1 ); /* IE6-9 */
}

.grey-2 {
    background: #808285;
}

.grey-2-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#808285+0,808285+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: #808285; /* Old browsers */
    background: -moz-linear-gradient(left,  #808285 0%, #808285 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #808285 0%,#808285 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #808285 0%,#808285 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808285', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */

}

.grey-2-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+0,fffcfc+50,fffcfc+50,808285+50,808285+100 */
    background: #fffcfc; /* Old browsers */
    background: -moz-linear-gradient(left,  #fffcfc 0%, #fffcfc 0%, #fffcfc 50%, #fffcfc 50%, #808285 50%, #808285 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#808285 50%,#808285 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#808285 50%,#808285 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#808285',GradientType=1 ); /* IE6-9 */

}

.grey-3 {
    background: #5c6166;
}

.grey-3-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5c6166+0,5c6166+51,fffcfc+51,fffcfc+100,fffcfc+100 */
    background: #5c6166; /* Old browsers */
    background: -moz-linear-gradient(left,  #5c6166 0%, #5c6166 51%, #fffcfc 51%, #fffcfc 100%, #fffcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #5c6166 0%,#5c6166 51%,#fffcfc 51%,#fffcfc 100%,#fffcfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #5c6166 0%,#5c6166 51%,#fffcfc 51%,#fffcfc 100%,#fffcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6166', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
}

.grey-3-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+0,fffcfc+49,5c6166+49,5c6166+100 */
    background: #fffcfc; /* Old browsers */
    background: -moz-linear-gradient(left,  #fffcfc 0%, #fffcfc 0%, #fffcfc 49%, #5c6166 49%, #5c6166 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fffcfc 0%,#fffcfc 0%,#fffcfc 49%,#5c6166 49%,#5c6166 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fffcfc 0%,#fffcfc 0%,#fffcfc 49%,#5c6166 49%,#5c6166 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#5c6166',GradientType=1 ); /* IE6-9 */
}

.grey-4 {
    background: #414042;
}

.grey-4-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#414042+0,414042+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: #414042; /* Old browsers */
    background: -moz-linear-gradient(left,  #414042 0%, #414042 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #414042 0%,#414042 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #414042 0%,#414042 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414042', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */

}

.grey-4-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+0,fffcfc+50,fffcfc+50,414042+50,414042+100 */
    background: #fffcfc; /* Old browsers */
    background: -moz-linear-gradient(left,  #fffcfc 0%, #fffcfc 0%, #fffcfc 50%, #fffcfc 50%, #414042 50%, #414042 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#414042 50%,#414042 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#414042 50%,#414042 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#414042',GradientType=1 ); /* IE6-9 */

}
