.dash-nav {
    background: #000;
    display: flex;
    flex-direction: column;
    width: 50px;
    align-content: center;
    align-items: center;
    overflow: hidden;
    
    .navigation-tip {
        display: block;
    }
    
    a {
        color: #fff;
        padding: 5px;
        border-bottom: 1px solid #fff;
        
        &:hover {
            text-decoration: none;
            color: #fff;
            cursor: pointer;
            background: #3ab4b4;
        }
    }
}