html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

html {    
    overflow-x: hidden;
}

::-moz-selection {
    background: #3f3f3f;
    color: #fff;
}

::selection {
    background: #3f3f3f;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    color: #772583;
}

h2 {
    font-size:26px;
}

h3 {
    font-size:20px;
}

h4 {
    font-size:18px;
}

p {
    font-size: 16px;
}

blockquote {
    color: #772583;
    border-left: 1px solid #772582;
    padding-left: 20px;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    font-style: italic;
}

blockquote cite {
    display: inline-block;
    padding-top: 20px;
    font-style: normal;
    
    strong {
        font-weight: normal;
    }
}

img {
    width: 100%;
}

section ul {
    padding-left: 10px
}

section ul li {
    background: url(https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/img/icons/Teal_list_item_square.jpg) no-repeat left 8px;
    padding-left: 16px;
    font-size: 14px;
    padding-bottom: 10px;
    list-style: none;
}

section ul.tick-list li {
  background: url(https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/img/icons/Teal_Tick.png) no-repeat left 40%;
  border-bottom: 0;
  padding-left: 30px;
  margin: 10px 0;
}

p + h2, p + blockquote, ul + h2, .responsive-iframe + h2, p + h3, ul + h3, .responsive-iframe + h3 {
    margin-top: 50px;
}

.spacer {
    margin-top: 20px;
}

.large-spacer {
    margin-top: 40px;
}

small, .small {
    font-size: 11px;
}

.text-center {
    text-align: center;
}

.responsive-iframe {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    margin: 40px 0;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.inverted {
    
    h1, h2, h3, h4, h5 {
        color: #fff;
    }
    
    p, blockquote {
        color: #fff;
    }
}

.banner section {
    padding: 10% 0;
}