.card.paper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 21px;
    
    .paper-details {
        flex-grow: 4;
        color: #9b9b9b;
        
        h3 {
            margin: 10px 0;
            font-weight: normal;
        }
        
        .key-details {
            
            ul {
               margin: 0;
                
                li:before {
                    color: #4a4a4a;
                }
            }
        }
    }
    
    a {
        flex-grow: 0;
        margin-left: auto;
        align-content: center;
        
        &:before {
            font-size: 24px;
        }
    }
}